<aside class="sideBar">
    <div class="Careery_btn_ddl">
        <button class="BTN_DDL" mat-button [matMenuTriggerFor]="menu">كاريري</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>دروب داون ليست 1</button>
            <button mat-menu-item>دروب داون ليست 1</button>
            <button mat-menu-item>دروب داون ليست 1</button>
        </mat-menu>
    </div>
    <div class="myFrinds_box">
        <div class="box_header">
            <p>الاصدقاء</p>
            <a href="">المزيد</a>
        </div>
        <div class="fr_block g_scrollBar">
            <ul>
                <li>
                    <div class="fr_img">
                        <img src="assets/images/fr_image.jpeg" alt="">
                    </div>
                    <div class="fr_info">
                        <h3>عبدالله الحسيني</h3>
                        <p>مهندس اكترونات</p>
                    </div>
                    <div class="fr_message_icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                </li>
                <li>
                    <div class="fr_img">
                        <img src="assets/images/fr_image.jpeg" alt="">
                    </div>
                    <div class="fr_info">
                        <h3>عبدالله الحسيني</h3>
                        <p>مهندس اكترونات</p>
                    </div>
                    <div class="fr_message_icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                </li>
                <li>
                    <div class="fr_img">
                        <img src="assets/images/fr_image.jpeg" alt="">
                    </div>
                    <div class="fr_info">
                        <h3>عبدالله الحسيني</h3>
                        <p>مهندس اكترونات</p>
                    </div>
                    <div class="fr_message_icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                </li>
                <li>
                    <div class="fr_img">
                        <img src="assets/images/fr_image.jpeg" alt="">
                    </div>
                    <div class="fr_info">
                        <h3>عبدالله الحسيني</h3>
                        <p>مهندس اكترونات</p>
                    </div>
                    <div class="fr_message_icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                </li>
                <li>
                    <div class="fr_img">
                        <img src="assets/images/fr_image.jpeg" alt="">
                    </div>
                    <div class="fr_info">
                        <h3>عبدالله الحسيني</h3>
                        <p>مهندس اكترونات</p>
                    </div>
                    <div class="fr_message_icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                </li>
                <li>
                    <div class="fr_img">
                        <img src="assets/images/fr_image.jpeg" alt="">
                    </div>
                    <div class="fr_info">
                        <h3>عبدالله الحسيني</h3>
                        <p>مهندس اكترونات</p>
                    </div>
                    <div class="fr_message_icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                </li>
                <li>
                    <div class="fr_img">
                        <img src="assets/images/fr_image.jpeg" alt="">
                    </div>
                    <div class="fr_info">
                        <h3>عبدالله الحسيني</h3>
                        <p>مهندس اكترونات</p>
                    </div>
                    <div class="fr_message_icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <div class="Suggested_friends_box">
        <div class="box_header">
            <p>الاصدقاء المحقترحين</p>
            <a href="">المزيد</a>
        </div>
        <div class="fr_block g_scrollBar">
            <ul>
                <li>
                    <div class="fr_img">
                        <img src="assets/images/fr_image.jpeg" alt="">
                    </div>
                    <div class="fr_info">
                        <h3>عبدالله الحسيني</h3>
                        <p>مهندس اكترونات</p>
                    </div>
                    <div class="fr_message_icon">
                        <i class="fas fa-envelope"></i>
                        <i class="fas fa-user-plus"></i>
                    </div>
                </li>
                <li>
                    <div class="fr_img">
                        <img src="assets/images/fr_image.jpeg" alt="">
                    </div>
                    <div class="fr_info">
                        <h3>عبدالله الحسيني</h3>
                        <p>مهندس اكترونات</p>
                    </div>
                    <div class="fr_message_icon">
                        <i class="fas fa-envelope"></i>
                        <i class="fas fa-user-plus"></i>
                    </div>
                </li>
                <li>
                    <div class="fr_img">
                        <img src="assets/images/fr_image.jpeg" alt="">
                    </div>
                    <div class="fr_info">
                        <h3>عبدالله الحسيني</h3>
                        <p>مهندس اكترونات</p>
                    </div>
                    <div class="fr_message_icon">
                        <i class="fas fa-envelope"></i>
                        <i class="fas fa-user-plus"></i>
                    </div>
                </li>
                <li>
                    <div class="fr_img">
                        <img src="assets/images/fr_image.jpeg" alt="">
                    </div>
                    <div class="fr_info">
                        <h3>عبدالله الحسيني</h3>
                        <p>مهندس اكترونات</p>
                    </div>
                    <div class="fr_message_icon">
                        <i class="fas fa-envelope"></i>
                        <i class="fas fa-user-plus"></i>
                    </div>
                </li>
                <li>
                    <div class="fr_img">
                        <img src="assets/images/fr_image.jpeg" alt="">
                    </div>
                    <div class="fr_info">
                        <h3>عبدالله الحسيني</h3>
                        <p>مهندس اكترونات</p>
                    </div>
                    <div class="fr_message_icon">
                        <i class="fas fa-envelope"></i>
                        <i class="fas fa-user-plus"></i>
                    </div>
                </li>
                <li>
                    <div class="fr_img">
                        <img src="assets/images/fr_image.jpeg" alt="">
                    </div>
                    <div class="fr_info">
                        <h3>عبدالله الحسيني</h3>
                        <p>مهندس اكترونات</p>
                    </div>
                    <div class="fr_message_icon">
                        <i class="fas fa-envelope"></i>
                        <i class="fas fa-user-plus"></i>
                    </div>
                </li>
                <li>
                    <div class="fr_img">
                        <img src="assets/images/fr_image.jpeg" alt="">
                    </div>
                    <div class="fr_info">
                        <h3>عبدالله الحسيني</h3>
                        <p>مهندس اكترونات</p>
                    </div>
                    <div class="fr_message_icon">
                        <i class="fas fa-envelope"></i>
                        <i class="fas fa-user-plus"></i>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</aside>

