<section class="login_contant NewPassword_Contant">
    <div class="container">
        <div class="login_right">
            <div class="login_title NewPassword_title">
                <p>قم بإدخال كلمة المرور الجديده</p>

            </div>

            <div class="login_input NewPassword_input">
                <mat-form-field class="example-full-width">
                    <i class="fas fa-lock"></i>
                    <i class="fas fa-eye"></i>
                    <!-- <i class="fas fa-eye-slash"></i> -->
                    <input type="password" matInput placeholder="كلمة المرور">
                    <!-- <mat-error>
                      Please enter a valid email address
                    </mat-error> -->
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <i class="fas fa-lock"></i>
                    <i class="fas fa-eye"></i>
                    <!-- <i class="fas fa-eye-slash"></i> -->
                    <input type="password" matInput placeholder="إعادة كلمة المرور">
                    <!-- <mat-error>
                      Please enter a valid email address
                    </mat-error> -->
                </mat-form-field>
            </div>

            <div class="C_button_contaner">
                <!-- <button class="C_login_button_back" type="button">عودة</button>  -->
                <button class="authentication_button" type="button" mat-flat-button>استمرار</button>
            </div>


        </div>
    </div>
    <div class="login_left">
        <img src="assets/images/NewPassword2x.png" alt="">
    </div>


</section>
