
<!-- <h1>Thank you</h1> -->

<section class="Congrats_PG">
  <img src="assets/images/Congrats@2x.png" alt="">
  <div class="Congrats_text">
      <h1>تهانينا لك</h1>
      <p>لقد تمت عمليه استكمال بياناتك بنجاح سيتم تحويلك تلقائيا خلال <span> 5 </span> ثوانى </p>
  </div>
</section>



<!--div class="commonWrap">
  <h2 class="withLine"><span>Thank You</span></h2>
  <div class="wrapPagenotFound">
    <h3 *ngIf="!resendStatus">
    {{ 'SIGNUP_THANKYOU.MESSAGE' | translate }}
    <a href="javascript:void(0)" (click)="resendVerification()">{{ 'SIGNUP_THANKYOU.RESEND' | translate }}</a> {{ 'SIGNUP_THANKYOU.IF_WANT' | translate }}
    </h3>
    <h3 *ngIf="resendStatus">
        {{ 'SIGNUP_THANKYOU.RESND_SUCCESS_MESSAGE' | translate }}
        <a href="javascript:void(0)" (click)="resendVerification()">{{ 'SIGNUP_THANKYOU.RESEND' | translate }}</a> {{ 'SIGNUP_THANKYOU.IF_WANT' | translate }}
    </h3>
  </div>
</div-->
