<!-- <app-level-steps-header></app-level-steps-header> -->
<!-- <p>level-steps works!</p>-->
<article class="levelSteps">
    <div class="container">
        <section class="levelStepsProgress">
            <div class="progress_bar">
                <ol class="progress_bar_steps">
                    <li class="progressbar_icon_active">
                        <i class="fas fa-check-circle"></i>
                    </li>
                    <li>
                        <i class="fas fa-check-circle"></i>
                    </li>
                    <li>
                        <i class="fas fa-check-circle"></i>
                    </li>
                    <li>
                        <i class="fas fa-check-circle"></i>
                    </li>
                    <li>
                        <i class="fas fa-check-circle"></i>
                    </li>
                </ol>
            </div>
        </section>
        <!-- <section class="levelStepsTabs">
            <ul>
                <li>المستوي الوظيفي </li>
                <li class="Tab_active">بيانات الشخصية</li>
                <li>التعليم</li>
                <li>الخبرات والمهارات</li>
                <li>حلمك الوظيفي</li>
            </ul>
        </section> -->
        <section class="angular_tabs">
            <mat-tab-group>
                <mat-tab label="المستوي الوظيفي">
                    <div class="Tab_Position">
                        <ol>
                            <li>
                                <div class="avatar_img">
                                    <img src="assets/images/1-Student.png" alt="">
                                </div>
                                <span>طالب</span>
                            </li>
                            <li>
                                <div class="avatar_img">
                                    <img src="assets/images/2-Fresh graduate.png" alt="">
                                </div>
                                <span>حديث التخرج
                                </span>
                            </li>
                            <li>
                                <div class="avatar_img">
                                    <img src="assets/images/3-Average experience.png" alt="">
                                </div>
                                <span>متوسط الخبرة
                                </span>
                            </li>
                            <li>
                                <div class="avatar_img">
                                    <img src="assets/images/4-Manager.png" alt="">
                                </div>
                                <span>مدير</span>
                            </li>
                            <li>
                                <div class="avatar_img">
                                    <img src="assets/images/5-expert.png" alt="">
                                </div>
                                <span>خبير</span>
                            </li>
                            <li>
                                <div class="avatar_img">
                                    <img src="assets/images/6-Advisor.png" alt="">
                                </div>
                                <span>استشاري</span>
                            </li>
                        </ol>
                    </div>

                </mat-tab>
                <mat-tab label="بيانات الشخصية">
                    <div class="levelSteps_Personal_Info">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>الاسم الاول</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>الاسم الاخير</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12">
                                <div class="Phone_Num">
                                    <mat-form-field appearance="outline">
                                        <mat-label>رقم الجوال</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12">
                                <div class="Email_Address">
                                    <mat-form-field appearance="outline">
                                        <mat-label>البريد الالكتروني</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>النوع</mat-label>
                                    <mat-select>
                                        <mat-option value="food">ذكر</mat-option>
                                        <mat-option value="food2">انثي</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-8 col-lg-8">
                                <mat-form-field appearance="outline">
                                    <mat-label>تاريخ البدء</mat-label>
                                    <i class="fas fa-calendar-alt"></i>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>الجنسية</mat-label>
                                    <mat-select>
                                        <mat-option value="food3">مصري</mat-option>
                                        <mat-option value="food8">سعودي</mat-option>
                                        <mat-option value="food546">منغولي</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>حدد الدولة</mat-label>
                                    <mat-select>
                                        <mat-option value="food454">مصر</mat-option>
                                        <mat-option value="food46546">جمهورية الصعيد</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>حدد المدينة</mat-label>
                                    <mat-select>
                                        <mat-option value="foodffd">امبابة</mat-option>
                                        <mat-option value="food45">سكاكا</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <!-- ENd Personal_Info -->
                </mat-tab>
                <mat-tab label="التعليم">
                    <div class="levelSteps_education">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="add_edit">
                                    <div class="row">
                                        <div class="col-12 col-md-12 col-lg-12">
                                            <mat-form-field appearance="outline">
                                                <mat-label>الدرجة التعليمية</mat-label>
                                                <input matInput>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-12">
                                            <mat-form-field appearance="outline">
                                                <mat-label>الدرجة التعليمية</mat-label>
                                                <input matInput>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-12">
                                            <mat-form-field appearance="outline">
                                                <mat-label>الدرجة التعليمية</mat-label>
                                                <input matInput>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-12">
                                            <mat-form-field appearance="outline">
                                                <mat-label>التقدير العام</mat-label>
                                                <mat-select>
                                                    <mat-option value="food3">امتياز</mat-option>
                                                    <mat-option value="food3">جيد جدا</mat-option>
                                                    <mat-option value="food8">جيد</mat-option>
                                                    <mat-option value="food546">ضعيف</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-12">
                                            <div class="Date_start_end">
                                                <div class="row">
                                                    <div class="col-12 col-md-6 col-lg-6">
                                                        <mat-form-field appearance="outline">
                                                            <mat-label>تاريخ البدء</mat-label>
                                                            <i class="fas fa-calendar-alt"></i>
                                                            <input matInput>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-12 col-md-6 col-lg-6">
                                                        <mat-form-field appearance="outline">
                                                            <mat-label>تاريخ الانتهاء</mat-label>
                                                            <i class="fas fa-calendar-alt"></i>
                                                            <input matInput>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div>
                                        <mat-checkbox>مازلت بالدراسة</mat-checkbox>
                                        <i class="fas fa-info-circle" placement="left"
                                            ngbTooltip="ng Bootstrap Tooltip"></i>
                                    </div>
                                    <div class="button_float_left C_mL_25">
                                        <button mat-stroked-button class="Add_button">
                                            <i class="fas fa-plus-circle"></i>
                                            اضافة
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="Details_view">
                                    <div class="box_card">
                                        <div class="card_edit_del_icon">
                                            <a href="">
                                                <i class="fas fa-pen" placement="top" ngbTooltip="تعديل"></i>
                                            </a>
                                            <a href="">
                                                <i class="fas fa-trash-alt" placement="top" ngbTooltip="حذف"></i>
                                            </a>
                                        </div>
                                        <div class="card_contant">
                                            <h4>ماجستير سياسة واقتصاد</h4>
                                            <p>جامعة الملك بن فهد</p>
                                        </div>
                                        <div class="right_label">
                                            <label>مقبول</label>
                                            <label>2011 - 2015</label>
                                        </div>
                                    </div>
                                    <div class="box_card">
                                        <div class="card_edit_del_icon">
                                            <a href="">
                                                <i class="fas fa-pen" placement="top" ngbTooltip="تعديل"></i>
                                            </a>
                                            <a href="">
                                                <i class="fas fa-trash-alt" placement="top" ngbTooltip="حذف"></i>
                                            </a>
                                        </div>
                                        <div class="card_contant">
                                            <h4>ماجستير سياسة واقتصاد</h4>
                                            <p>جامعة الملك بن فهد</p>
                                        </div>
                                        <div class="right_label">
                                            <label>مقبول</label>
                                            <label>2011 - 2015</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- ENd education -->
                </mat-tab>
                <mat-tab label="الخبرات">
                    <div class="levelSteps_experience">
                        <!-- <div class="Headline">
                            <h1>الخبرات</h1> 
                        </div> -->
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="add_edit">
                                    <div class="row">
                                        <div class="col-12 col-md-12 col-lg-12">
                                            <mat-form-field appearance="outline">
                                                <mat-label>المسمي الوظيفي</mat-label>
                                                <input matInput>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-12">
                                            <mat-form-field appearance="outline">
                                                <mat-label>محل العمل</mat-label>
                                                <input matInput>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-12">
                                            <div class="Date_start_end">
                                                <div class="row">
                                                    <div class="col-12 col-md-6 col-lg-6">
                                                        <mat-form-field class="Birth_ddl" appearance="outline">
                                                            <mat-label>تاريخ البدء</mat-label>
                                                            <i class="fas fa-calendar-alt"></i>
                                                            <input matInput>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-12 col-md-6 col-lg-6">
                                                        <mat-form-field appearance="outline">
                                                            <mat-label>تاريخ الانتهاء</mat-label>
                                                            <i class="fas fa-calendar-alt"></i>
                                                            <input matInput>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <mat-checkbox>مازلت اعمل</mat-checkbox>
                                    <i class="fas fa-info-circle" placement="left"
                                        ngbTooltip="ng Bootstrap Tooltip"></i>
                                </div>
                                <div class="button_float_left C_mL_25">
                                    <button mat-stroked-button class="Add_button">
                                        <i class="fas fa-plus-circle"></i>
                                        اضافة
                                    </button>

                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="Details_view">
                                    <div class="box_card">
                                        <div class="card_edit_del_icon">
                                            <a href="">
                                                <i class="fas fa-pen" placement="top" ngbTooltip="تعديل"></i>
                                            </a>
                                            <a href="">
                                                <i class="fas fa-trash-alt" placement="top" ngbTooltip="حذف"></i>
                                            </a>
                                        </div>
                                        <div class="card_contant">
                                            <h4>مندوب مبيعات</h4>
                                            <p>مش عارف</p>
                                        </div>
                                        <div class="right_label">
                                            <!-- <label>مقبول</label> -->
                                            <label>2011 - 2015</label>
                                        </div>
                                    </div>
                                    <div class="box_card">
                                        <div class="card_edit_del_icon">
                                            <a href="">
                                                <i class="fas fa-pen" placement="top" ngbTooltip="تعديل"></i>
                                            </a>
                                            <a href="">
                                                <i class="fas fa-trash-alt" placement="top" ngbTooltip="حذف"></i>
                                            </a>
                                        </div>
                                        <div class="card_contant">
                                            <h4>مندوب مبيعات</h4>
                                            <p>مش عارف</p>
                                        </div>
                                        <div class="right_label">
                                            <!-- <label>مقبول</label> -->
                                            <label>2011 - 2015</label>
                                        </div>
                                    </div>
                                    <div class="box_card">
                                        <div class="card_edit_del_icon">
                                            <a href="">
                                                <i class="fas fa-pen" placement="top" ngbTooltip="تعديل"></i>
                                            </a>
                                            <a href="">
                                                <i class="fas fa-trash-alt" placement="top" ngbTooltip="حذف"></i>
                                            </a>
                                        </div>
                                        <div class="card_contant">
                                            <h4>مندوب مبيعات</h4>
                                            <p>مش عارف</p>
                                        </div>
                                        <div class="right_label">
                                            <!-- <label>مقبول</label> -->
                                            <label>2011 - 2015</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </mat-tab>
                <mat-tab label="المهارات">
                    <div class="levelSteps_skills">
                        <!-- <div class="Headline">
                            <h1>المهارات</h1>
                        </div> -->
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="add_edit">
                                    <div class="row">
                                        <div class="col-12 col-md-12 col-lg-12">
                                            <mat-form-field appearance="outline">
                                                <mat-label>المهارات</mat-label>
                                                <input matInput>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-12">
                                            <mat-form-field appearance="outline">
                                                <mat-label>المستوي</mat-label>
                                                <mat-select>
                                                    <mat-option value="food3">حلو</mat-option>
                                                    <mat-option value="food3">حلو جدا</mat-option>
                                                    <mat-option value="food8">مش حلو</mat-option>
                                                    <mat-option value="food546">مش حلو جدا</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div>
                                        <mat-checkbox>مازلت بالدراسة</mat-checkbox>
                                        <i class="fas fa-info-circle" placement="left"
                                            ngbTooltip="ng Bootstrap Tooltip"></i>
                                    </div>
                                    <div class="button_float_left C_mL_25">
                                        <button mat-stroked-button class="Add_button">
                                            <i class="fas fa-plus-circle"></i>
                                            اضافة
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="Details_view">
                                    <div class="box_card">
                                        <div class="card_edit_del_icon">
                                            <a href="">
                                                <i class="fas fa-pen" placement="top" ngbTooltip="تعديل"></i>
                                            </a>
                                            <a href="">
                                                <i class="fas fa-trash-alt" placement="top" ngbTooltip="حذف"></i>
                                            </a>
                                        </div>
                                        <div class="card_contant">
                                            <h4>الفوتوشوب</h4>
                                            <!-- <p>جامعة الملك بن فهد</p> -->
                                        </div>
                                        <div class="right_label">
                                            <label>حلو</label>
                                            <!-- <label>2011 - 2015</label> -->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </mat-tab>
                <mat-tab label="حلمك الوظيفي">
                    <div class="levelSteps_YourDream">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="add_edit">
                                    <div class="row">
                                        <div class="col-12 col-md-12 col-lg-12">
                                            <mat-form-field appearance="outline">
                                                <mat-label>المسمي الوظيفي</mat-label>
                                                <input matInput>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-12">
                                            <mat-form-field appearance="outline">
                                                <mat-label>حدد المكان</mat-label>
                                                <mat-select>
                                                    <mat-option value="food3">الدقهلية</mat-option>
                                                    <mat-option value="food3">الدقهلية 2</mat-option>
                                                    <mat-option value="food8">الدقهلية 3</mat-option>
                                                    <mat-option value="food546">الدقهلية 4</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-12">
                                            <div class="job_time_RadioBTN">
                                                <mat-radio-group>
                                                    <mat-radio-button class="" value="after">دوام كامل
                                                    </mat-radio-button>
                                                    <mat-radio-button class="" value="before">دوام جزئي
                                                    </mat-radio-button>
                                                    <mat-radio-button class="" value="before">العمل من المنزل
                                                    </mat-radio-button>
                                                    <mat-radio-button class="" value="before">الانشطة الطلابية
                                                    </mat-radio-button>
                                                    <mat-radio-button class="" value="before">تطوع</mat-radio-button>
                                                </mat-radio-group>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="button_float_left C_mL_25">
                                        <button mat-stroked-button class="Add_button">
                                            <i class="fas fa-plus-circle"></i>
                                            اضافة
                                        </button>

                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="Details_view">
                                    <div class="box_card">
                                        <div class="card_edit_del_icon">
                                            <a href="">
                                                <i class="fas fa-pen" placement="top" ngbTooltip="تعديل"></i>
                                            </a>
                                            <a href="">
                                                <i class="fas fa-trash-alt" placement="top" ngbTooltip="حذف"></i>
                                            </a>
                                        </div>
                                        <div class="card_contant">
                                            <h4>دكتور</h4>
                                            <p>الدقهلية - المنصورة - عزبة سمنود</p>
                                        </div>
                                        <div class="right_label">
                                            <label>دوام جزئي</label>
                                            <!-- <label>2011 - 2015</label> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </section>




        <!-- Button -->
        <div class="button_float_left">
            <button mat-raised-button color="primary" class="level_steps_Button">حفظ و متابعه</button>
        </div>
    </div><!-- End Container -->

</article>
