<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <section class="testimonials_Page">
        <div class="container">
          <div class="testimonials_header">
            <div class="row">
              <div class="col-12 col-md-6">
                <h1>الاراء</h1>
              </div>
              <div class="col-12 col-md-6">
                <div class="testoniales_filter">
                  <ul>
                    <li>
                      <button>الوارد</button>
                    </li>
                    <li>
                      <button>الموافقه</button>
                    </li>
                    <li>
                      <button>ارائي</button>
                    </li>
                    <li>
                      <i class="fas fa-cog"></i>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <section class="testimonials_box">
            <div class="testimonials_action">
              <ul>
                <li>
                  <button>
                    <i class="fas fa-eye" style="display: none;"></i>
                    <i class="fas fa-eye-slash"></i>
                    اخفاء
                  </button>
                </li>
                <li>
                  <button class="active">
                    <i class="fas fa-thumbs-up"></i>
                    قبول
                  </button>
                </li>
                <li>
                  <button>
                    <i class="fas fa-thumbs-down"></i>
                    رفض
                  </button>
                </li>
              </ul>
            </div>
            <div class="testimonials_user_data">
              <div class="testimonials_user_img">
                <img src="../../../assets/images/IM500-500px.png" alt="">
              </div>
              <div class="testimonials_user_name">
                <h1>السيد عباس بن حميدو</h1>
                <span>مدير مشروعات شركة الكهرباء </span>
              </div>
            </div>
            <div class="testimonials_text">
              <p>لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريد أكسير سيتاشن يللأمكو لابورأس نيسي يت أليكيوب أكس أيا كوممودو كونسيكيوات . ديواسأيوتي أريري دولار إن ريبريهينديرأيت فوليوبتاتي فيلايت أيسسي كايلليوم دولار أيو فيجايت نيولا باراياتيور. أيكسسيبتيور ساينت أوككايكات كيوبايداتات نون بروايدينت ,سيونت ان كيولباكيو أوفيسيا ديسيريونتموليت انيم أيدي ايست لابوريوم</p>
            </div>
            <div class="testimonials_input_res">
              <textarea placeholder="اكتب ردك هنا"></textarea>
            </div>
          </section>


          <!--
            السيكشن الاساسي هو الي فوق
            الي 3 الي تحت دول مجرد للتست والعرض
          -->
          <section class="testimonials_box">
            <div class="testimonials_action" >
              <ul>
                <li>
                  <button style="display: none;">
                    <i class="fas fa-eye" style="display: none;"></i>
                    <i class="fas fa-eye-slash"></i>
                    اخفاء
                  </button>
                </li>
                <li>
                  <button class="active">
                    <i class="fas fa-thumbs-up"></i>
                    قبول
                  </button>
                </li>
                <li>
                  <button>
                    <i class="fas fa-thumbs-down"></i>
                    رفض
                  </button>
                </li>
              </ul>
            </div>
            <div class="testimonials_user_data">
              <div class="testimonials_user_img">
                <img src="../../../assets/images/IM500-500px.png" alt="">
              </div>
              <div class="testimonials_user_name">
                <h1>السيد عباس بن حميدو</h1>
                <span>مدير مشروعات شركة الكهرباء </span>
              </div>
            </div>
            <div class="testimonials_text">
              <p>لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أت أوككايكات كيوبايداتات نون بروايدينت ,سيونت ان كيولباريوم</p>
            </div>
            <div class="testimonials_input_res">
              <textarea placeholder="اكتب ردك هنا"></textarea>
            </div>
          </section>
          <section class="testimonials_box">
            <div class="testimonials_action">
              <ul>
                <li>
                  <button>
                    <i class="fas fa-eye" style="display: none;"></i>
                    <i class="fas fa-eye-slash"></i>
                    اخفاء
                  </button>
                </li>
                <li>
                  <button class="active" style="display: none;">
                    <i class="fas fa-thumbs-up"></i>
                    قبول
                  </button>
                </li>
                <li>
                  <button style="display: none;">
                    <i class="fas fa-thumbs-down"></i>
                    رفض
                  </button>
                </li>
              </ul>
            </div>
            <div class="testimonials_user_data">
              <div class="testimonials_user_img">
                <img src="../../../assets/images/IM500-500px.png" alt="">
              </div>
              <div class="testimonials_user_name">
                <h1>السيد عباس بن حميدو</h1>
                <span>مدير مشروعات شركة الكهرباء </span>
              </div>
            </div>
            <div class="testimonials_text">
              <p>لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبت دو ت انيم أد مينيم فينايم,كيواس نوستريد أكسير سيتاشن يللأمكو لابورأس نيسي يت أليكيوب أكس أيا كووبتاتي فيلايت أيسسي كايلليوم دولار أيو فيجايت نيولا باراياتيور. أيكسسيبتيور ساينت أوككايكات كيوبايداتات نون بروايدينت ,سيونت ان كيولباكيو أوفيسيا ديسيريونتموليت انيم أيدي ايست لابوريوم</p>
            </div>
            <div class="testimonials_input_res" style="display: none;">
              <textarea placeholder="اكتب ردك هنا"></textarea>
            </div>
          </section>
          <section class="testimonials_box">
            <div class="testimonials_action" style="display: none;">
              <ul>
                <li>
                  <button>
                    <i class="fas fa-eye" style="display: none;"></i>
                    <i class="fas fa-eye-slash"></i>
                    اخفاء
                  </button>
                </li>
                <li>
                  <button class="active">
                    <i class="fas fa-thumbs-up"></i>
                    قبول
                  </button>
                </li>
                <li>
                  <button>
                    <i class="fas fa-thumbs-down"></i>
                    رفض
                  </button>
                </li>
              </ul>
            </div>
            <div class="testimonials_user_data">
              <div class="testimonials_user_img">
                <img src="../../../assets/images/IM500-500px.png" alt="">
              </div>
              <div class="testimonials_user_name">
                <h1>السيد عباس بن حميدو</h1>
                <span>مدير مشروعات شركة الكهرباء </span>
              </div>
            </div>
            <div class="testimonials_text">
              <p>لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريد أكسير سيتاشن يللأمكو لابورأس نيسي يت أليكيوب أكس أيا كوممودو كونسيكيوات . ديواسأيوتي أريري دولار إن ر</p>
            </div>
            <div class="testimonials_input_res" style="display: none;">
              <textarea placeholder="اكتب ردك هنا"></textarea>
            </div>
          </section>
        </div>
      </section>
    </div>
    <div class="col-12 col-md-4">
      side BAr
    </div>
  </div>
</div>
